# Project 1 : Whitt Hyde and Yunwei Yan

## Setting Up Tables and Start Data:

In [39]:
# Import sqlite3 module
import sqlite3
db=sqlite3.connect("/Users/whitthyde/desktop/APAD/Project/sqlite/db/projectdata.db")
cursor = db.cursor()

#Create the Tables required for the Event Management System

cursor.execute('''DROP TABLE Events''')
cursor.execute('''

    CREATE TABLE Events(EventID INTEGER PRIMARY KEY,Host TEXT, Name TEXT, Description TEXT, VenueID INTEGER, Day DATE,
    Timeslot INTEGER , CurrentUsers INTEGER, MaxUsers INTEGER)
    
    ''')

cursor.execute('''DROP TABLE Users''')
cursor.execute('''

    CREATE TABLE Users(UserID INTEGER PRIMARY KEY, Name TEXT, Permission BIT)
    
    ''')

cursor.execute('''DROP TABLE Venues''')
cursor.execute('''

    CREATE TABLE Venues(VenueID INTEGER PRIMARY KEY, Name TEXT)
    
    ''')
db.commit()

In [40]:
#Inserting Test Data (Venues First) and other data
import datetime
vens = [(1,'UT Rec Sports'),
          (2, 'SoccerCenter USA'),
          (3, 'Yunwei Court'),
          (4, 'Whitt Fields'),
         ]
cursor = db.cursor()
cursor.executemany(''' INSERT INTO Venues(VenueID,Name) VALUES(?,?)''', vens)

#insert Data Events

evnts = [(1,'Chase','Thunder vs. Rockets','Soccer League Match of Austin Elite League', 2, datetime.date(2019, 8,1),1,22,22),
         (2,'Whitt','Pickup Basketball (3 on 3)','Anyone welcome. Come play! All skill levels.', 3, datetime.date(2019, 8,5),2,3,6),
         (3,'Yunwei','Tennis Doubles','EXPERTS ONLY', 3, datetime.date(2019, 8,1),2,22,22)]
cursor.executemany(''' INSERT INTO Events(EventID,Host, Name, Description, VenueID, Day, Timeslot, CurrentUsers, MaxUsers) VALUES(?,?,?,?,?,?,?,?,?)''', evnts)

#insert User Data
usrs = [(1,'Admin', 1),
        (2,'John', 0),
        (3,'Chase', 0),
        (4,'Whitt', 0),
        (5,'Yunwei',1)]
cursor.executemany(''' INSERT INTO USERS(UserID, Name, Permission) VALUES(?,?,?)''', usrs)
db.commit()

## UTILITY FUNCTIONS:

### Function 2

In [15]:
#Cell for function 2
#CHECKED
def add_venue(user,venname):
    if user==1:
        cursor = db.cursor()
        #selecting the maxID from the table
        cursor.execute(''' SELECT max(VenueID) FROM VENUES''')
        maxID = cursor.fetchone() [0]
        maxID+=1
        cursor.execute(''' INSERT INTO Venues(VenueID,Name) VALUES(?,?)''', (maxID,venname,))
        print("Your Venue",venname, "was created. It is now in the system")
    elif user==0:
        print('User is not Authorized to create a new venue.')

In [42]:
add_venue(1,"SportsWorld5000")

Your Venue  SportsWorld5000  was created. It is now in the system

In [210]:
cursor.execute('''SELECT * FROM VENUES''')
pl = cursor.fetchall() #retrieve the first row
for x in pl:
    print(x)

(1, 'UT Rec Sports')
(2, 'SoccerCenter USA')
(3, 'Yunwei Court')
(4, 'Whitt Fields')
(5, 'SportsWorld5000')

### Function 1

In [36]:
#The function will add a new user to the database   FUNCTION#1
#CHECKED
def Add_User(name,userstatus,permit=0):
    if permit ==0:
    
        print('Sorry you have no access to create users.')
    
    elif permit ==1:
          
        cursor = db.cursor()
        #selecting the maxID from the table
        cursor.execute(''' SELECT max(UserID) FROM USERS''')
        maxID = cursor.fetchone() [0]
        maxID+=1
        cursor.execute('''INSERT INTO USERS(USERID,NAME,PERMISSION) VALUES (?,?,?)''',(maxID,name,userstatus))
        db.commit()
        print("The User",name, "was created. It is now in the system")

In [43]:
Add_User("Dr. Y",0,1)

The User Dr. Y was created. It is now in the system

In [211]:
cursor.execute('''SELECT * FROM USERS''')
pl = cursor.fetchall() #retrieve the first row
for x in pl:
    print(x)

(1, 'Admin', 1)
(2, 'John', 0)
(3, 'Chase', 0)
(4, 'Whitt', 0)
(5, 'Yunwei', 1)
(6, 'Dr. Y', 0)

### Function 3

In [201]:
#The function will start a new event to the database   FUNCTION#3

def event_init(userstatus,username,evnName,evnDes, evnVID,evnDate,evnTime,evnCurr,evnMax):
    if userstatus == 1:
        username = input("Hello Admin, please enter the User's name that is creating the Event: ")
    Start_Event(username,evnName,evnDes, evnVID,evnDate,evnTime,evnCurr,evnMax)



#EventID,Name, Description, VenueID, Day, Timeslot, CurrentUsers, MaxUsers
def Start_Event(host, name, des,vID, date, time,currU, maxU):
    cursor = db.cursor()
    cursor.execute('''SELECT * FROM Events WHERE Day=?''', (date,))
    events_on_day = cursor.fetchall()
    if events_on_day:
        sametime = False
        for x in events_on_day:
            if x[6]==time:
                print('That timeslot has already been taken. Please select a different timeslot or choose another venue.')
                sametime = True
        if not sametime:
            #selecting the maxID from the table
            cursor.execute(''' SELECT max(EventID) FROM Events''')
            maxID = cursor.fetchone() [0]
            maxID+=1
            cursor.execute('''INSERT INTO Events(EventID,Host,Name, Description, VenueID, Day, Timeslot, CurrentUsers, MaxUsers) VALUES (?,?,?,?,?,?,?,?,?)''',(maxID,host, name, des,vID, date, time,currU, maxU))
            db.commit()
            print("The Event",name, "was created.",host,"is hosting. It is now in the system")
    else:
        #selecting the maxID from the table
        cursor.execute(''' SELECT max(EventID) FROM Events''')
        maxID = cursor.fetchone() [0]
        maxID+=1
        cursor.execute('''INSERT INTO Events(EventID,Host,Name, Description, VenueID, Day, Timeslot, CurrentUsers, MaxUsers) VALUES (?,?,?,?,?,?,?,?,?)''',(maxID,host, name, des,vID, date, time,currU, maxU))
        db.commit()
        print("The Event",name, "was created.",host,"is hosting. It is now in the system")

In [203]:
event_init(0,"Yunwei","Programming HACKS Part 6","HACKING TWITTER!",1,datetime.date(2020, 9, 9),11,1,25)

That timeslot has already been taken. Please select a different timeslot or choose another venue.

In [212]:
cursor.execute('''SELECT * FROM EVENTS''')
pl = cursor.fetchall() #retrieve the first row
for x in pl:
    print(x)

(1, 'Chase', 'Thunder vs. Rockets', 'Soccer League Match of Austin Elite League', 2, '2019-08-01', 2, 22, 22)
(2, 'Whitt', 'Pickup Basketball (3 on 3)', 'Anyone welcome. Come play! All skill levels.', 3, '2019-08-05', 2, 3, 6)
(3, 'Yunwei', 'Tennis Doubles', 'EXPERTS ONLY', 3, '2019-08-01', 2, 22, 22)
(4, 'Yunwei', 'Programming MeetUp', 'Learn PHP TODAY!', 1, '2020-05-17 00:00:00', 2, 1, 25)
(5, 'Whitt', 'Programming MeetUp', 'Learn PHP TODAY!', 1, '2020-09-09', 2, 1, 25)
(6, 'Yunwei', 'Programming HACKS Part 5', 'HACKING TWITTER!', 1, '2020-12-31', 3, 1, 25)
(7, 'Yunwei', 'Programming HACKS Part 6', 'HACKING TWITTER!', 1, '2020-09-09', 11, 1, 25)

### Function 4

In [178]:
#Display time available at a venue   FUNCTION#4
#CHECKED
def Display_Time(vue,date):
    #getting all the times for certain day and venue
    cursor.execute('''SELECT * FROM EVENTS WHERE VenueID=? AND Day=?''',(vue,date,))
    listevnts = cursor.fetchall() 
    
    times_used = []
    #extracting timeslots from the list of events, then adding them to a list of times used
    for evnt in listevnts:
        times_used.append(evnt[6])
    
    
    available_time = [0,1,2,3,4,5,6,7,8,9,10,11]
    for x in times_used:
        if x in available_time:
            available_time.remove(x)
    print("AVAILABLE TIMES:")
    print("")
    for times in available_time:
        if times==0:
            print("8:00AM - 9:00AM Available")
        if times==1:
            print("9:00AM - 10:00AM Available")
        if times==2:
            print("10:00AM - 11:00AM Available")
        if times==3:
            print("11:00AM - 12:00PM Available")
        if times==4:
            print("12:00PM - 1:00PM Available")
        if times==5:
            print("1:00PM - 2:00PM Available")
        if times==6:
            print("2:00PM - 3:00PM Available")
        if times==7:
            print("3:00PM - 4:00PM Available")
        if times==8:
            print("4:00PM - 5:00PM Available")
        if times==9:
            print("5:00PM - 6:00PM Available")
        if times==10:
            print("6:00PM - 7:00PM Available")
        if times==11:
            print("7:00PM - 8:00PM Available")

In [179]:
Display_Time(1,datetime.date(2020, 9, 9))

AVAILABLE TIMES:

8:00AM - 9:00AM Available
9:00AM - 10:00AM Available
11:00AM - 12:00PM Available
12:00PM - 1:00PM Available
1:00PM - 2:00PM Available
2:00PM - 3:00PM Available
3:00PM - 4:00PM Available
4:00PM - 5:00PM Available
5:00PM - 6:00PM Available
6:00PM - 7:00PM Available
7:00PM - 8:00PM Available

### Function 5

In [154]:
#Display all venues where a time is available   FUNCTION#5
#CHECKED
def Display_Venue(date,time):
    cursor.execute('''SELECT * FROM EVENTS  WHERE TIMESLOT=? AND DAY=?''',(time,date))
    listevnts = cursor.fetchall() 
    
    venues_used = []
    #extracting timeslots from the list of events, then adding them to a list of times used
    for evnt in listevnts:
        venues_used.append(evnt[4])
    
    cursor.execute('''SELECT * FROM VENUES ''')
    allvenues = cursor.fetchall()
    
    available_venues = []
    
    for ven in allvenues:
        available_venues.append(ven)

    for venue in allvenues:
        if venue[0] in venues_used:
            available_venues.remove(venue)

    if time==0:
        timeslot = "8:00AM - 9:00AM"
    if time==1:
        timeslot = "9:00AM - 10:00AM"
    if time==2:
        timeslot = "11:00AM - 12:00AM"
    if time==3:
        timeslot = "12:00AM - 1:00AM"
    if time==4:
        timeslot = "1:00AM - 2:00AM"
    if time==5:
        timeslot = "2:00AM - 3:00AM"
    if time==6:
        timeslot = "3:00AM - 4:00AM"
    if time==7:
        timeslot = "4:00AM - 5:00AM"
    if time==8:
        timeslot = "5:00AM - 6:00AM"
    if time==9:
        timeslot = "6:00AM - 7:00AM"
    if time==10:
        timeslot = "7:00AM - 8:00AM"
    if time==11:
        timeslot = "8:00AM - 9:00AM" 
    
    print("Available Venues for",timeslot,"on",date)
    print("")
    for pl in available_venues:
         print(pl[1])

In [155]:
Display_Venue(datetime.date(2020, 9, 9),2)

Available Venues for 11:00AM - 12:00AM on 2020-09-09

SoccerCenter USA
Yunwei Court
Whitt Fields
SportsWorld5000

### Function 6

In [151]:
#Display events at one venue when date and time are given    FUNCTION#6
#CHECKED
def Display_Event(date,time,vueID):
    
    
     cursor.execute('''SELECT * FROM EVENTS WHERE VenueID=? AND DAY=? AND TIMESLOT=?''',(vueID,date,time,))
     listtimeslot = cursor.fetchall()
     for pl in listtimeslot:
         print(pl)
    
    
    
    
    
#      cursor.execute('''SELECT * FROM EVENTS WHERE TIMESLOT=? AND DAY=? AND VenueID=?''',(date,time,vueID,))
#      listevents = cursor.fetchall()
#      for pl in listevents:
#          print(pl)

In [153]:
Display_Event(datetime.date(2019, 8, 1),2,3)

(3, 'Yunwei', 'Tennis Doubles', 'EXPERTS ONLY', 3, '2019-08-01', 2, 22, 22)

In [214]:
cursor.execute('''SELECT * FROM EVENTS''')
pl = cursor.fetchall() #retrieve the first row
for x in pl:
    print(x)

(1, 'Chase', 'Thunder vs. Rockets', 'Soccer League Match of Austin Elite League', 2, '2019-08-01', 2, 22, 22)
(2, 'Whitt', 'Pickup Basketball (3 on 3)', 'Anyone welcome. Come play! All skill levels.', 3, '2019-08-05', 2, 3, 6)
(3, 'Yunwei', 'Tennis Doubles', 'EXPERTS ONLY', 3, '2019-08-01', 2, 22, 22)
(4, 'Yunwei', 'Programming MeetUp', 'Learn PHP TODAY!', 1, '2020-05-17 00:00:00', 2, 1, 25)
(5, 'Whitt', 'Programming MeetUp', 'Learn PHP TODAY!', 1, '2020-09-09', 2, 1, 25)
(6, 'Yunwei', 'Programming HACKS Part 5', 'HACKING TWITTER!', 1, '2020-12-31', 3, 1, 25)
(7, 'Yunwei', 'Programming HACKS Part 6', 'HACKING TWITTER!', 1, '2020-09-09', 11, 1, 25)

### Function 7

In [238]:
#User joins an event FUNCTION #7
def User_JoinEvent(userID,evnID,permit=1):
    if permit==1:
        print("Sorry only users can join events. Please create a User account instead of Admin to join.")
    elif permit == 0:
        cursor = db.cursor()
        #selecting the maxID from the table
        cursor.execute('''SELECT CurrentUsers, MaxUsers FROM EVENTS WHERE EventID=?''',(evnID,))
        test = cursor.fetchone()
        event_capacity = test[1]
        event_current = test[0]
        if event_current >= event_capacity:
            print("Sorry this event is already full. Please choose another.")
        elif event_current < event_capacity:
            cursor.execute(''' SELECT * FROM EVENTS WHERE EventID=?''',(evnID,))
            c_users = cursor.fetchone()[7]
            c_users += 1
            
            cursor.execute('''UPDATE EVENTS SET CurrentUsers = ? WHERE EventID=?''', (c_users,evnID,)) 
            db.commit()

In [240]:
User_JoinEvent(2,2,0)

(3, 6)

In [241]:
cursor.execute('''SELECT NAME, CURENTUSERS, MAXUSE FROM EVENTS''')
pl = cursor.fetchall() #retrieve the first row
for x in pl:
    print(x)

(1, 'Chase', 'Thunder vs. Rockets', 'Soccer League Match of Austin Elite League', 2, '2019-08-01', 2, 22, 22)
(2, 'Whitt', 'Pickup Basketball (3 on 3)', 'Anyone welcome. Come play! All skill levels.', 3, '2019-08-05', 2, 4, 6)
(3, 'Yunwei', 'Tennis Doubles', 'EXPERTS ONLY', 3, '2019-08-01', 2, 22, 22)
(4, 'Yunwei', 'Programming MeetUp', 'Learn PHP TODAY!', 1, '2020-05-17 00:00:00', 2, 1, 25)
(5, 'Whitt', 'Programming MeetUp', 'Learn PHP TODAY!', 1, '2020-09-09', 2, 1, 25)
(6, 'Yunwei', 'Programming HACKS Part 5', 'HACKING TWITTER!', 1, '2020-12-31', 3, 1, 25)
(7, 'Yunwei', 'Programming HACKS Part 6', 'HACKING TWITTER!', 1, '2020-09-09', 11, 1, 25)

### Function 9

In [236]:
#Remove an event FUNCTION#9
#CHECKED
def Remove_Event(eid, permit=0):
    if permit==0:
        print('Sorry you have no access')
    
    elif permit ==1:
        cursor.execute('''SELECT Name FROM Events WHERE eventID=?''',(eid,))
        removed_event = cursor.fetchone()[0]
        
        cursor.execute('''DELETE FROM EVENTS WHERE EVENTID=?''',(eid,))
        db.commit()
        print("The Event:",removed_event,"was Removed.")

In [237]:
Remove_Event(6,1)

Programming HACKS Part 5
The Event: Programming HACKS Part 5 was Removed.

In [ ]:
cursor.execute('''SELECT * FROM EVENTS''')
pl = cursor.fetchall() #retrieve the first row
for x in pl:
    print(x)